#top h1{
    text-align: center;
}

body{
     background-color:#ffe4b5;


}

#tooltip {
    position: absolute;
    width: 100px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
}

#input{
    top:300px;
    float:left;

}

#p{
    margin:auto;
}

#graph{
    float right;
    top:100px;
    padding: 10px;

}
